<div id="<%= dom_id users_project %>">
  <p>
    <strong>User:</strong>
    <%= users_project.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= users_project.project_id %>
  </p>

  <p>
    <strong>Rol project user:</strong>
    <%= users_project.rol_project_user %>
  </p>

</div>
