<h1>Editing projects phase</h1>

<%= render "form", projects_phase: @projects_phase %>

<br>

<div>
  <%= link_to "Show this projects phase", @projects_phase %> |
  <%= link_to "Back to projects phases", projects_phases_path %>
</div>
