<h1>Editing users role</h1>

<%= render "form", users_role: @users_role %>

<br>

<div>
  <%= link_to "Show this users role", @users_role %> |
  <%= link_to "Back to users roles", users_roles_path %>
</div>
